{% extends 'base.html' %}
{% load static %}

{% block content %}

<style type="text/css">
  .beginning-para {
    text-align: center;
    font-style: italic;
    font-size: small;
    color: rgb(95, 95, 95);
  }
</style>

<div class="container-fluid">
  <div class="card-body card">
    <h2>General Chat Room</h2>
    <div class="chat__item__container" id="id_chat_item_container" style="font-size: 20px">
      <br />
      <p>{{request.user}}:</p>
      <input type="text" id="id_message_send_input" />
      <button type="submit" id="id_message_send_button">Send Message</button>
      <br />
      <br />
      <hr>
      <p class="beginning-para">- Beginning of chat history -</p>
    </div>
  </div>
</div>

<script>
  const chatSocket = new WebSocket("ws://" + window.location.host + "/");
  document.querySelector("#id_message_send_input").focus();
  document.querySelector("#id_message_send_input").onkeyup = function (e) {
    if (e.keyCode == 13) {
      document.querySelector("#id_message_send_button").click();
    }
  };
  document.querySelector("#id_message_send_button").onclick = function (e) {
    var messageInput = document.querySelector(
      "#id_message_send_input"
    ).value;
    chatSocket.send(JSON.stringify({ message: messageInput, username: "{{request.user.username}}" }));
  };
  chatSocket.onmessage = function (e) {
    const data = JSON.parse(e.data);

    // Timestamp
    var today = new Date();
    var date = today.getDate() + '-' + (today.getMonth() + 1) + '-' + today.getFullYear();
    var time = today.getHours() + ":" + today.getMinutes();

    var div = document.createElement("div");
    div.innerHTML = data.username + " (" + date + " " + time + ") " + " : " + data.message;
    document.querySelector("#id_message_send_input").value = "";
    document.querySelector("#id_chat_item_container").appendChild(div);
  };
</script>

{% endblock content %}ﬁ