<style type="text/css">
  head {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: 400;
  }

  footer {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: 200;
  }

  body {
    background-color: #d8d8d8;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    /* font-weight: 400; */
  }

  :root {
    --main-background-color: #d8d8d8;
    --dark-background-color: #adaaaa;
    --secondary-text-color: #7c7c7c;
    --light-primary-text-color: #a5a2a2;
  }
</style>