{% extends 'base.html' %}
{% load static %}

{% block content %}


<style type="text/css">
	.card-signin {
		width: 100%;
		max-width: 800px;
		padding: 15px;
		margin: auto;
	}

	.form-header {
		text-align: center;
		color: white;
		background-color: #d3d3d3;
		padding: 10px;
	}

	.form-signin input {
		margin-bottom: 10px;
	}

	.name-div {
		justify-content: space-between;
	}

	.gender-div {
		border: 1px solid var(--main-background-color);
		border-radius: 5px;
		padding: 10px;
		margin-bottom: 10px;
	}

	.gender-header {
		color: rgb(90, 90, 90);
		margin: 0;
	}

	.name-div>input {
		width: 48%;
	}
	.reg-btn {
		width: 100%;
	}
</style>

<div class="container-fluid">
	<div class="row justify-content-center">
		<div class="card card-signin">
			<div class="card-body">
				<form class="form-signin" method="post">{% csrf_token %}
					<div class="d-flex flex-column pb-3">
						<img class="img-fluid mx-auto d-block" src="{% static 'static_icons/blank-pfp.png' %}" alt="default icon"
							width="100" height="100">
					</div>
					<h3 class="form-header">Register for a ProFile Account</h3>
					<div class="name-div d-flex flex-row">
						<input type="text" name="f_name" id="inputFname" class="form-control" placeholder="First Name" required
							autofocus>

						<input type="text" name="l_name" id="inputLname" class="form-control" placeholder="Last Name" required>
					</div>

					<div class="gender-div">
						<p class="gender-header">Gender</p>
						<input type="radio" name="gender" id="inputGenderM" value="M">
						<label for="inputGenderM">Male</label>
						<input type="radio" name="gender" id="inputGenderF" value="F">
						<label for="inputGenderF">Female</label>
					</div>

					<input type="date" name="dob" id="inputDob" class="form-control" min="1923-01-01" required>

					<input type="text" name="username" id="inputUsername" class="form-control" placeholder="Username" required>

					<input type="email" name="email" id="inputEmail" class="form-control" placeholder="Email address" required>

					<input type="password" name="password1" id="inputPassword1" class="form-control" placeholder="Password"
						required>

					<input type="password" name="password2" id="inputPassword2" class="form-control"
						placeholder="Confirm password" required>

					{% for field in register_form %}
					<p>
						{% for error in field.errors %}
					<p style="color: red">{{ error }}</p>
					{% endfor %}
					</p>
					{% endfor %}
					{% if registration_form.non_field_errors %}
					<div style="color: red">
						<p>{{registration_form.non_field_errors}}</p>
					</div>

					{% endif %}

					<button class="reg-btn btn btn-lg btn-primary btn-block" type="submit">Register</button>

				</form>
			</div>
		</div>

	</div>
</div>






{% endblock content %}